<header> 
    <a href="/">Livros</a>
    <a href="./cadastro.handlebars">Cadastar</a>
</header>

<main>
    <h1>Cadastrar Livros </h1>

    <article>
       <h3>titulo do livro</h3>
       <input type="text" placeholder="Digite o nome do livro...">

       <h3>categoria do livro</h3>
       <input type="text" placeholder="Digite a categoria do livro...">

       <h3>descrição do livro</h3>
       <input type="text" placeholder="Digite a descrição do livro...">

       <h3>preço do livro</h3>
       <input type="text" placeholder="R$50,00">

       <h3>quantidade disponível</h3>
       <input type="text" placeholder="60">

        <button>CADASTRAR</button>

    </article>
</main>

<footer>RODAPÉ</footer>