<header> 
    <a href="/">Livros</a>
    <a href="./cadastro.handlebars">Cadastar</a>
</header>


<main>
    <h1>Nome do Livro</h1>
    <p>Lorem ipsum dolor sit DESCRIÇÃO DO PRODUTO, adipisicing elit. Veritatis, optio odit voluptatum atque molestiae fugiat quisquam ab officiis repellendus commodi totam ex iusto ipsum libero et. </p>
    <h2>categoria</h2>
    <p>R$50,00</p>
    <p>Quantidade estoque: 60></p>

    <button>voltar</button>
</main>

<footer>RODAPÉ</footer>