<header> 
    <a href="/">Livros</a>
    <a href="./cadastro.handlebars">Cadastar</a>
</header>


<main>
    <div>
        <h1>Nome do Livro</h1>
        <p>Lorem ipsum, dolor sit amet DESCRIÇÃO DO PRODUTO. Perferendis a deleniti odio? Aliquam, optio repellendus sequi eius corrupti amet quas dolores.</p>
        <h2>categoria</h2>
        <h2>R$50,00</h2>
        <button>ver detalhes</button>
        <button>editar</button>
        <button>excluir</button>
    </div>

    <div>
        <h1>Nome do Livro</h1>
        <p>Lorem ipsum, dolor sit amet DESCRIÇÃO DO PRODUTO. Perferendis a deleniti odio? Aliquam, optio repellendus sequi eius corrupti amet quas dolores.</p>
        <h2>categoria</h2>
        <h2>R$50,00</h2>
        <button>ver detalhes</button>
        <button>editar</button>
        <button>excluir</button>
    </div>

    <div>
        <h1>Nome do Livro</h1>
        <p>Lorem ipsum, dolor sit amet DESCRIÇÃO DO PRODUTO. Perferendis a deleniti odio? Aliquam, optio repellendus sequi eius corrupti amet quas dolores.</p>
        <h2>categoria</h2>
        <h2>R$50,00</h2>
        <button>ver detalhes</button>
        <button>editar</button>
        <button>excluir</button>
    </div>

    <div>
        <h1>Nome do Livro</h1>
        <p>Lorem ipsum, dolor sit amet DESCRIÇÃO DO PRODUTO. Perferendis a deleniti odio? Aliquam, optio repellendus sequi eius corrupti amet quas dolores.</p>
        <h2>categoria</h2>
        <h2>R$50,00</h2>
        <button>ver detalhes</button>
        <button>editar</button>
        <button>excluir</button>
    </div>

    <div>
        <h1>Nome do Livro</h1>
        <p>Lorem ipsum, dolor sit amet DESCRIÇÃO DO PRODUTO. Perferendis a deleniti odio? Aliquam, optio repellendus sequi eius corrupti amet quas dolores.</p>
        <h2>categoria</h2>
        <h2>R$50,00</h2>
        <button>ver detalhes</button>
        <button>editar</button>
        <button>excluir</button>
    </div>

    <div>
        <h1>Nome do Livro</h1>
        <p>Lorem ipsum, dolor sit amet DESCRIÇÃO DO PRODUTO. Perferendis a deleniti odio? Aliquam, optio repellendus sequi eius corrupti amet quas dolores.</p>
        <h2>categoria</h2>
        <h2>R$50,00</h2>
        <button>ver detalhes</button>
        <button>editar</button>
        <button>excluir</button>
    </div>
</main>

<footer>RODAPÉ</footer>